button{
    border: transparent;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background-color: #4e75ff;
    color: #fff;
}

.btn-submit:hover {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #6c8cff;
}

form{
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 296px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
}
.feedback-form label{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.feedback-form input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.feedback-form textarea{
    width: 100%;
    height: 80px;
}

.feedback-form textarea:hover {
    border-color: black;
}