* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery-container {
    width: 1440px;
    height: 696px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin:24px 156px;
    list-style: none;
    
}

.gallery-item {
    width: 360px;
    height: 200px;
    flex-basis: calc((100% - 48px)/3);
}

.gallery-item:hover {
    transform: scale(1.04);
}

.gallery-image {
    width: 100%;
    height: 100%;
    display: block;
}